body{
	background:"add2.jpg";
	background-image: url("back.gif");
	 background-repeat: no-repeat, repeat;
	 background-size: cover;
}
#formm{
border:solid grey 2px;
width: 30%;
border-radius: 10px;
margin: 200px auto;
background: white;
padding :60px;
}

#btn{
	color:#fff;
	background: #0033cc;
	padding: 5px;
	margin-left: 69%;
}